desktop.ini
=======
# Ignore log files
config.yaml
Data.zip

# Ignore the cs7643-a5 environment
clinbert_trainer/
clinicalbert_trainer/
bert_trainer/
fine-tuned_bert/
fine-tuned_clinicalbert/
models/
tmp_trainer/
wandb/
data/
adapter-fusion-weights/
adapter_ast/
adapters/

cs7643-a5/
*.yaml
*.bin
*.pyc
*.pt
*.pth
.idea/
.ipynb_checkpoints/
.models/
